<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HeadManagerModule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChooseItemsForm</display-name>
    <servlet-name>ChooseItemsForm</servlet-name>
    <servlet-class>servlets.ChooseItemsForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseItemsForm</servlet-name>
    <url-pattern>/ChooseItemsForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCompletion</display-name>
    <servlet-name>OrderCompletion</servlet-name>
    <servlet-class>servlets.OrderCompletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCompletion</servlet-name>
    <url-pattern>/OrderCompletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateDealer</display-name>
    <servlet-name>RateDealer</servlet-name>
    <servlet-class>servlets.RateDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateDealer</servlet-name>
    <url-pattern>/RateDealer</url-pattern>
  </servlet-mapping>
</web-app>